* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("./images/Landing\ page.png") no-repeat center center;
  background-size: cover;
  background-attachment: fixed; /* optional, keeps background in place on scroll */
  overflow-x: hidden;
}

.background img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* ensures the background is behind other content */
}
.background {
  position: relative;
}

/* header */
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 60px 64px 0px 64px;
}
.header .logo {
  width: 148px;
  font-family: oswald, sans-serif;
  font-weight: 500;
  font-style: medium;
  font-size: 35px;
  height: 50px;
  margin-right: 88px;
}
ul li a {
  text-decoration: none;
  color: black;
  font-family: "Roboto";
  font-style: medium;
  font-weight: 500;
  height: 16px;
}
ul {
  display: flex;
  list-style-type: none;
  gap: 130px;
  justify-content: space-around;
  margin-right: 177px;
}
.header .buttons {
  display: flex;
  gap: 33px;
}
button {
  width: 119px;
  height: 47px;
  font-weight: 500;
  font-size: 18px;
  margin-top: 2px;
  /* margin-left: 1055px;     not working */
  border-radius: 15px;
  /* padding: 17px 80px;      not working */
  background: linear-gradient(to right, #3462e7, #093fc8);
  border: none;
  box-shadow: 0px 4px 4px 0px #00000040;
}
button a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  line-height: 100%;
  font-style: medium;
}

/* hero */
.hero {
  margin-top: 45px;
  display: flex;
  align-items: center;
  padding-left: 87px;
  flex-wrap: wrap;
}
.hero .main {
  font-family: Oswald, sans-serif;
  font-style: medium;
  font-size: 35px;
  line-height: 50px;
  letter-spacing: 0;
  max-width: 576px;
}
.hero .second {
  font-family: "'Roboto'", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0;
  max-width: 549px;
  margin-top: 10px;
}
.hero .image img {
  max-width: 760px; /* or your preferred width */
  height: auto; /* or set a fixed height if needed */
  object-fit: cover;
  object-position: left;
  overflow: hidden;
}
/* search container */
.search-container input {
  appearance: none;
  -webkit-appearance: none;
  background-color: #314d87;
  color: white;
  /* typo */
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  border: none;
  outline: none;
}
.search-container input::placeholder {
  color: white;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
.search-container {
  height: 32px;
  max-width: 222px;
  display: flex;
  align-items: center;
  background-color: #314d87;
  box-shadow: 0px 4px 4px 0px #00000040;
  gap: 6px;
  justify-content: space-around;
  border-radius: 25px;
  padding: 0 10px;
  margin-top: 10px;
}
.search-container i {
  color: white;
  cursor: pointer;
  margin-top: 10px;
  align-self: flex-start;
  margin-left: 10px;
}

/* trust-badge */

.trustb-frame {
  background: #dcecfc;
  position: relative;
  z-index: 1;
  padding: 23px 121px;
  width: 100vw;
  margin: 32px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 250px;
  /* flex-wrap: wrap;   looks ugly */
}

.trustb-frame h3 {
  font-family: Oswald, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 15px;
  letter-spacing: 0%;
  text-shadow: 2px 2px 6px 0px #00000040;
}
.trustb-frame h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0%;
}
.trustb-frame .section {
  display: flex;
  align-items: center;
  gap: 18px;
}

.trustb-frame .icon img {
  filter: drop-shadow(2px 2px 6px 0px #00000040);
  width: 72px;
  height: 72px;
  object-fit: contain;
}

/* course section */
.card {
  width: 377px;
  height: 447px;
  top: 102px;
  opacity: 1;
  border-radius: 15px;
  background-color: #dcecfc;
  padding: 20px 17px 20px 17px;
}
.course-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 46px;
}
.card-image img {
  width: 336px;
  height: 230px;
}

.card-content h3 {
  font-family: Oswald, sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #000000;
  margin: 23px 31px 12px 0px;
}
.card-content h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0%;
  margin-top: 12px;
  margin-bottom: 5px;
}
.card-content p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
}
.card-title {
  font-family: Oswald, sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 70px;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: center;
  color: #314d8f;
  text-shadow: 0px 4px 4px 0px #00000040;
  margin-bottom: 33px;
}
.course button {
  width: 178px;
  display: flex;
  justify-self: flex-end;
  margin-top: 25px;
  align-items: center;
}
.course .buttons button a {
  display: block; /* make the <a> fill the button */
  width: 100%;
  text-align: center; /* center the “Explore More” text */
}
.course {
  padding: 0px 100px;
  margin-bottom: 65px;
}

/* degrees section */
.swipe ul li a {
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0%;
  color: #000000;
  text-align: center;
}
.swipe ul {
  flex: 1;
  gap: 60px;
  display: flex;
  flex-wrap: nowrap;
  /* overflow-x: auto; */
  padding: 10px 0;
  list-style: none;
  white-space: nowrap;
  scrollbar-width: none; /* hide scrollbar on Firefox */
  margin-left: 0px;
}
.swipe ul::-webkit-scrollbar {
  display: none; /* hide scrollbar on Chrome/Safari */
}
.swipe {
  width: 100%;
  overflow: hidden;
  margin: 56px 0px;
}
/* .swipe ul li:last-child {
   margin-left: auto;  just not working idk why 
} */
.swipe ul li:last-child {
  width: 40px;
  height: 40px;
  background-color: #dcecfc;
  border-radius: 100%;
  padding-top: 6px;
  margin: 0;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* community */
.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 77px;
}
.community-rectangle {
  flex: 1 1 1;
  width: 1221px;
  height: 637px;
  opacity: 1;
  border-radius: 10px;
  background-color: #dcecfc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.community-frame {
  width: 1175px;
  height: 578px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 55px;
  padding: 0px 100px;
  background-color: #eff7ff;
  border-radius: 50px;
}
.left-side h1 {
  font-family: Oswald, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: 0%;
}
.left-side h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
}
.community-content h2 {
  font-family: Oswald, sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  margin: 24px;
}
.community-content p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}
.community-image img {
  width: 202px;
  height: 202px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.right-side {
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 40px;
}
.left-side {
  flex: 1 1 100%;
  text-align: center;
}

@media (min-width: 1440px) {
  .community-frame {
    flex-wrap: nowrap;
    height: 578px;
  }

  .left-side {
    flex: 1;
    text-align: left;
  }

  .right-side {
    flex: 1;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
}

/* student feedbacks */
.feedback h1 {
  font-family: Oswald, sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 70px;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: center;
  color: #314d8f;
  text-shadow: 0px 4px 4px 0px #00000040;
  margin-top: 78px;
  margin-bottom: 56px;
}
.feedback-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 100px;
}
.feedback-card {
  max-width: 587px;
  max-height: 321px;
  background-color: #f3f9ff;
  gap: 45px;
  border-radius: 10px;
  padding: 15px 30px;
}
.student-image img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.feedback-card .upper-section {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 23px;
}
.feedback-card .student-name {
  font-family: Oswald, sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0%;
  max-width: 50px; /* forces word wrap */
}
.lower-section p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0%;
  margin-bottom: 35px;
}
.stars {
  display: flex;
  gap: 6px;
  justify-content: flex-end;
}

/* sub footer */
.sub-footer {
  margin-top: 114px;
  display: flex;
  justify-content: space-around;
  /* flex-wrap: wrap; */
}
.sub-footer ul {
  display: block;
}
.sub-footer ul li a {
  font-family: "source-sans-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
}
.sub-footer ul li:first-child {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.1px;
  vertical-align: middle;
}
.sub-footer ul li {
  margin-bottom: 10px;
}
.sub-footer ul li a:hover {
  text-decoration: underline;
}
.sub-footer .download-images {
  display: flex;
  flex-direction: column;
  gap: 67px;
}
.sub-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* footer */
.footer ul {
  gap: 20px;
  margin-right: 0px;
  padding-top: 61px;
}
.footer {
  height: 141px;
  margin-top: 42px;
  display: flex;
  justify-content: space-evenly;
  align-items: space-around;
  flex-wrap: wrap;
  border-top: 1px solid #bdbdbd;
}
.footer p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  padding-top: 61px;
}

/* SIGN-IN PAGE  */
body.signin,
body.login {
  background: url("./images/signin-backround.png") no-repeat center center;
  background-size: cover;
  background-attachment: fixed; /* optional, keeps background in place on scroll */
  overflow-x: hidden;
}

.signin-container,
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(298.02deg, #c8e4ff 7.49%, #4391f1 93.26%);
  border-radius: 25px;
  padding: 40px 30px;
  width: 412px;
  /* height: 410px; */
}
.form-box h2 {
  text-align: center;
  color: white;
  margin-bottom: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
.form-box input {
  width: 100%;
  background: transparent;
  border: none;
  height: 30px;
  border-bottom: 2px solid white;
  outline: none;

  margin-bottom: 30px;

  color: white;
  opacity: 0.9;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;

  padding-bottom: 5px;
}
.form-box input::placeholder {
  /*copy from above */
  color: white;
  opacity: 0.9;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}
.form-box button {
  width: 100%;
  box-shadow: 0px 4px 4px 0px #00000040;
  background: linear-gradient(90deg, #3462e7 0%, #093fc8 100%);

  width: 100%;
  opacity: 1;
  border-radius: 15px;
  padding-top: 17px;
  padding-right: 80px;
  padding-bottom: 17px;
  padding-left: 80px;
  gap: 10px;

  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: white;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

/* for all buttons */
button:hover {
  cursor: pointer;
  opacity: 0.9;
  background: white;
  color: black;
  box-shadow: 0px 4px 4px 0px #00000040;
  transition: all 0.3s ease;
}
button:hover a {
  color: black;
}
.signin h1,
.login h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 65px;
  line-height: 100px;
  letter-spacing: 0%;
  text-align: center;
  color: #324d90;
}
.signin,
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 199px;
  flex-wrap: wrap;
}
.signin-image img {
  width: 566px;
  height: 625px;
}
.signin-image {
  /*to bring the image a little down */
  padding-top: 80px;
}

/* Additions to login page */
.login-image img {
  width: 880px;
  height: 589px;
  padding-top: 80px;
}
.login {
  gap: 55px;
}
body.login {
  justify-content: flex-start;
}
.form-box .signup-link {
  margin-top: 12px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: none;
}
.form-box .here {
  color: blue;
  text-decoration: underline;
}
.form-box .forgot-password {
  align-self: flex-end;
  margin-top: -20px;
  margin-bottom: 30px;

  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
}

.form-box .forgot-password:hover {
  text-decoration: underline;
}
.login .content{ /*just to make login and signin same height */
  padding-top: 80px;
}